.container-login {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}

.wrapper {
  height: 630px;
  border: 2px solid salmon;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  /* From https://css.glass */
  background: #181a1b;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(75, 63, 63, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(22, 23, 23, 1);
}

.wrapper>* {
  width: 450px;
  margin: 0 auto;
}

.heading>p {
  margin-top: 4px;
  color: #efeaed;
  font-weight: lighter;
  font-size: 19px;
}

.heading span {
  border-bottom: 0.5px dotted #efeaed;
}

.heading>img {
  border-radius: 9999px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  /* border: 2px solid magenta; */
}

.input-container h3,
.heading>h2 {
  color: #efeaed;
}

/** Lbl */
.label {
  color: #efeaed;
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px !important;
}

.separator {
  margin-top: 12px;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.input-container {
  /* border: 2px solid cadetblue; */
  padding: 15px;
}

.input-container>* {
  margin-bottom: 14px;
}

.form {
  margin-left: 4px;
  padding: 7px;
  flex: 1;
  height: 42;
  width: 80%;
}

.input-container>h3 {
  margin-bottom: 6px;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
}

.login-acc-link,
.create-acc-link,
.forgot-password>a {
  text-decoration: none;
  color: lightblue;
}

.forgot-password>a:hover {
  color: #efeaed;
  cursor: pointer;
}

.signup-login-button .button {
  outline: none;
  color: #efeaed;
  background-color: #8fafdf;
  height: 56px;
  width: 100%;
}

.signup-login-button .button:hover {
  background-color: #6a7f9e;
}

.button,
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.back-btn>a {
  text-decoration: none;
  color: #efeaed;
}

.back-btn>a:hover {
  text-decoration: underline;
}

.password,
.confirm-password,
.email {
  margin-top: 26px;
}

.input-container input {
  border: 2px solid #73757e;
  border-radius: 4px;
  caret-color: #efeaed;
  color: #d4d3cf;
  font-weight: bold;
  font-size: 17px;
}

.input-container h3 {
  margin-bottom: 7px;
}

.login-account>*,
.create-account>* {
  font-weight: 600;
}

/* Removes white background-color added by chrome email autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: #d4d3cf !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.invalid-feedback {
  font-weight: bold;
  color: #b7212d;
  margin-left: 10px;
  margin-top: 5px;
}

.media-body {
  font-size: 18px;
  color: aquamarine;
}