body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
}
.container {
  max-width: 700px;
  width: 100%;
  background: rgb(36, 154, 36);
  padding: 25px 30px;
  border-radius: 5px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: white;
}
.container form .userdetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
input.btn {
  padding: 12px;
  width: 120px;
}
form .userdetails .inputbox {
  margin-bottom: 15px;
  width: calc(100% / 2 -20px);
}
.userdetails .inputbox .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.login {
  margin-left: 5px;
}
.userdetails .inputbox input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.userdetails .inputbox input:focus,
.userdetails .inputbox input:valid {
  border-color: black;
}
form .genderdetails .gendertitle {
  font-size: 20px;
  font-weight: 500;
}
form .genderdetails .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.genderdetails .category label {
  display: flex;
  align-items: center;
}
.genderdetails .category .dot {
  height: 18px;
  width: 18px;
  background: white;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease-in;
}
#dot-1 :checked ~ .category label .one,
#dot-2 :checked ~ .category label .two,
#dot-3 :checked ~ .category label .three {
  border-color: black;
  background: white;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: white;
}
form .button input:hover {
  background: rgb(36, 154, 36);
}
@media (max-width: 584) {
  .container {
    max-width: 100%;
  }
  form .details .inputbox {
    margin-bottom: 15px;
    width: 100%;
  }
  form .genderdetails .category {
    width: 100%;
  }
  .container form .details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .details::-webkit-scrollbar {
    width: 0;
  }
}
