table{
    width:400px;
    

}
th, caption{
    text-align: left;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
caption{
    
    top: 0;
    text-align: left;
    background-color:white;
    width: 140px;
    height: 70px;
    font-size:28px ;
    font-weight: 500;
    
}
th, td{
    padding: 10px;
}
tr:nth-child(even) {
    background-color: brown;
}
tr:nth-child(odd) {
    background-color: grey;
}