{% extends "layout.html"%}
{% block modal %}
<script src="{{url_for('static',filename='modal.js')}}" defer></script>
{% endblock modal %}
{% block content %}
<div class="account-container">
  <div class="account-heading">
    {% block alt %} Account Settings {% endblock alt %}
  </div>
  <div class="account-wrapper">
    <div class="email-block">
    <div>
      <h3 class="form-heading">Update Account profile:</h3>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="name">
          {{form.username.label(class="label")}}
          <br />
          <i class="fa-solid fa-user"></i>
          {{form.username(class="form",placeholder="example")}} {% if
          form.username.errors %}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="email">
          {{form.email.label(class="label")}}
          <br />
          <i class="fa-solid fa-envelope"></i>
          {{form.email(class="form",placeholder="example@example.com")}} {% if
          form.email.errors %}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
    </div>
        <div>
          <div>{{form.submit(class="update-btn" ,id="profile")}}</div>
        </div>
      </form>
    </div>
    <div class="sep"></div>
    <div class="password-block">
    <div>
      <h3 class="form-heading">Update Account Password:</h3>
      <form action="" method="post">
        {{ password_form.hidden_tag() }}
        <div class="current_password">
          {{password_form.current_password.label(class="label")}}
          <br />
          <div class="password-info">
            <small>(Required to change your password)</small>
          </div>
          <i class="fa-solid fa-lock"></i>
          {{password_form.current_password(class="form")}} {% if
          password_form.current_password.errors %}
          <div class="invalid-feedback">
            {% for error in password_form.current_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="password">
          {{password_form.password.label(class="label")}}
          <br />
          <i class="fa-solid fa-lock"></i>
          {{password_form.password(class="form")}} {% if
          password_form.password.errors %}
          <div class="invalid-feedback">
            {% for error in password_form.password.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="confirm-password">
          {{password_form.confirm_password.label(class="label")}}
          <br />
          <i class="fa-solid fa-lock"></i>
          {{password_form.confirm_password(class="form")}} {% if
          password_form.confirm_password.errors %}
          <div class="invalid-feedback">
            {% for error in password_form.confirm_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        </div>
        <div>
          <div>{{password_form.submit(class="update-btn",id="password")}}</div>
        </div>
      </form>
    </div>
  </div>
  <!--
  <form action="{{url_for('delete_account')}}" method="post" class="delete-form">
    <h3>I know what I am doing:</h3>
    <input type="submit" value="Delete Account" id="del-btn" />
  </form>
  -->
  <div class="delete-form">
    <h3>I know what I am doing:</h3>
    <button id="del-btn">Delete Account</button>
  </div>
  <dialog id="deleteModal">
    <form action="{{url_for('delete_account')}}" method="post">
      <div class="modal-text">
        <i class="fa-solid fa-triangle-exclamation"></i>    
        <p class="modal-text">Proceed to delete?</p>
      </div>
      <div class="modal-btn">
        <button id="cancelBtn">Cancel</button>
        <input type="submit" id="confirmBtn" value="Yes"></input>
      </div>
    </form>
  </dialog>
</div>
{% endblock content%}
