{% extends "form.html" %}

{%block title %} Buy {% endblock %}

{% block body %}
<div class="auth-container buy-form" >

    <!-- <div class="auth-image">
      <img src="static/assets/signin.png">
    </div> -->

    <div class="auth-form">
      <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
        <fieldset>

          <h1> Consumer </h1>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.name.label }}
                {{ form.name(class='form-control', placeholder='Enter Username') }}
                <!-- log possible error messages if any -->
                {% if form.name.errors %} 
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                      <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.email.label }}
                {{ form.email(class='form-control', placeholder='Enter Email') }}
                
                <!-- log error messages for the email -->
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
            </div>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.phone_number.label }}
                {{ form.phone_number(class='form-control', placeholder='Enter Phone Number') }}
                
                <!-- log error messages for the phone number -->
                {% if form.phone_number.errors %}
                <div class="invalid-feedback">
                  {% for error in form.phone_number.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.quantity.label }}
                {{ form.quantity(class='form-control', placeholder='Enter Buying Quantity') }}
                
                <!-- log error messages for the quantity -->
                {% if form.quantity.errors %}
                <div class="invalid-feedback">
                  {% for error in form.quantity.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="form-group">
                <i class='bx bx-user'></i>
                  {{ form.postal_code.label }}
                  {{ form.postal_code(class='form-control', placeholder='Enter Postal Code') }}
                  
                  <!-- log error messages for the postal code -->
                  {% if form.postal_code.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.postal_code.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
        
      
            <div align="center" class="form-group">
              {{ form.submit(class='btn btn-primary') }}
            </div>
    
        </fieldset>
      </form>
    </div>

</div>
{% endblock %}