{% extends "form.html" %}

{%block title %} Producer {% endblock %}


{% block body %}

<div class="auth-container sell-form" >

  <!-- <div class="auth-image">
    <img src="static/assets/signin.png">
  </div> -->

  <div class="auth-form">
    <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {{ form.csrf_token }}
      <fieldset>

        <h1> Producer </h1>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.full_name.label }}
              {{ form.full_name(class='form-control', placeholder='Enter Your Name') }}
              <!-- log possible error messages if any -->
              {% if form.full_name.errors %} 
              <div class="invalid-feedback">
                  {% for error in form.full_name.errors %}
                    <span>{{error}}</span>
                  {% endfor %}
              </div>
              {% endif %}
          </div>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.email.label }}
              {{ form.email(class='form-control', placeholder='Enter Email') }}
              
              <!-- log error messages for the email -->
              {% if form.email.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                  </div>
                {% endif %}
          </div>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.phone_number.label }}
              {{ form.phone_number(class='form-control', placeholder='Enter Phone Number') }}
              
              <!-- log error messages for the phone number -->
              {% if form.phone_number.errors %}
              <div class="invalid-feedback">
                {% for error in form.phone_number.errors %}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.postal_code.label }}
              {{ form.postal_code(class='form-control', placeholder='Enter Postal Code') }}
              
              <!-- log error messages for the postal code -->
              {% if form.postal_code.errors %}
              <div class="invalid-feedback">
                {% for error in form.postal_code.errors %}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.product_name.label }}
              {{ form.product_name(class='form-control', placeholder='Enter Product Name') }}
              
              <!-- log error messages for the product name -->
              {% if form.product_name.errors %}
              <div class="invalid-feedback">
                {% for error in form.product_name.errors %}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.product_picture.label }}
              {{ form.product_picture(class='form-control', placeholder='Enter Product Name') }}
              
              <!-- log error messages for the product name -->
              {% if form.product_picture.errors %}
              <div class="invalid-feedback">
                {% for error in form.product_picture.errors %}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.product_description.label }}
              {{ form.product_description(class='form-control', placeholder='Enter Product Description') }}
              
              <!-- log error messages for the product Description -->
              {% if form.product_description.errors %}
              <div class="invalid-feedback">
                {% for error in form.product_description.errors %}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>


          <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.price.label }}
                {{ form.price(class='form-control', placeholder='Enter Price') }}
                
                <!-- log error messages for the price -->
                {% if form.price.errors %}
                <div class="invalid-feedback">
                  {% for error in form.price.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>


          <div class="form-group">
            <i class='bx bx-user'></i>
              {{ form.quantity.label }}
              {{ form.quantity(class='form-control', placeholder='Enter Buying Quantity') }}
              
              <!-- log error messages for the quantity -->
              {% if form.quantity.errors %}
              <div class="invalid-feedback">
                {% for error in form.quantity.errors %}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>

      
    
          <div align="center" class="form-group">
            {{ form.submit(class='btn btn-primary') }}
          </div>
  
      </fieldset>
    </form>
  </div>

</div>
{% endblock %}