{% extends "form.html" %}


{% block body %}

<div class="auth-container">

    <div class="auth-image">
      <img src="static/assets/signin.png">
    </div>

    <div class="auth-form">
      <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
        <fieldset>

          <h1> Signup </h1>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.username.label }}
                {{ form.username(class='form-control', placeholder='Enter Username') }}
                <!-- log possible error messages if any -->
                {% if form.username.errors %} 
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                      <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.email.label }}
                {{ form.email(class='form-control', placeholder='Enter Email') }}
                
                <!-- log error messages for the email -->
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
            </div>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.password.label }}
                {{ form.password(class='form-control', placeholder='Enter Password') }}
                
                <!-- log error messages for the password -->
                {% if form.password.errors %}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="form-group">
              <i class='bx bx-user'></i>
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class='form-control', placeholder='Please Confirm Password') }}
                
                <!-- log error messages for the confirm_password -->
                {% if form.confirm_password.errors %}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
      
      
            <div align="center" class="form-group">
              {{ form.submit(class='btn btn-primary') }}
            </div>

            <div class="signup-link">
              <p>
                Already have an account? <a href="{{url_for('login')}}"> Login </a> instead
              </p>
            </div>

    
        </fieldset>
      </form>
    </div>

</div>

<!-- <script src="signup.js"></script> -->
{% endblock %}
